Flask==3.0.3
Flask_Login==0.6.3
flask_mail==0.10.0
flask_sqlalchemy==3.1.1
itsdangerous==2.2.0
redis==4.1.1
rq==1.16.2
SQLAlchemy==2.0.31
Werkzeug==3.0.3
psycopg2-binary==2.9.9
Pillow==10.4.0
Flask-SocketIO==5.3.6